@model ASI.Basecode.Data.Models.Book

@{
    ViewData["Title"] = "Edit Book";
}
<h1 class="font-weight-bold">EDIT BOOK</h1>
<div class="container mt-4" style="background-color: lightpink; border-radius: 10px; padding: 20px;">
    <form asp-action="Edit" asp-controller="Book" asp-route-id="@Model.Id" method="post" class='needs-validation' novalidate>
        <input type="hidden" asp-for="Id" />

        <div class='mb-3'>
            <label for='Name' class='form-label'>Title:</label>
            <input type='text' class='form-control' id='Name' asp-for="Name" required>
            <div class='invalid-feedback'>
                Please provide a title.
            </div>
        </div>

        <div class='mb-3'>
            <label for='Author' class='form-label'>Author:</label>
            <input type='text' class='form-control' id='Author' asp-for="Author" required>
            <div class='invalid-feedback'>
                Please provide an author name.
            </div>
        </div>

        <div class='mb-3'>
            <label for='Description' class='form-label'>Description:</label>
            <textarea class='form-control' id='Description' asp-for="Description" required></textarea>
            <div class='invalid-feedback'>
                Please provide a description.
            </div>
        </div>

        <div class='mb-3'>
            <label for='PubDate' class='form-label'>Published Date:</label>
            <input type='date' class='form-control' id='PubDate' asp-for="PubDate" required>
            <div class='invalid-feedback'>
                Please provide a valid date.
            </div>
        </div>

        <div class='mb-3'>
            <label for='ImageUrl' class='form-label'>Image URL:</label>
            <input type='text' class='form-control' id='ImageUrl' asp-for="ImageUrl">
            <div class='invalid-feedback'>
                Please provide a valid image URL.
            </div>
        </div>

        <div class="align-content-end">
            <button type='submit' class='btn btn-primary'>Submit</button>
        </div>
    </form>
</div>

<script>
    (function () {
        'use strict'

        var forms = document.querySelectorAll('.needs-validation')

        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
