@* ﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using ASI.Basecode.Services.ServiceModels
@model UserViewModel
@section styles {
	<link rel="stylesheet" href="~/css/admindashboard.css" />
}
<div class="modal" id="EditUserModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 id="modalTitle">Edit User Details</h4>
			</div>
			<form method="post" asp-action="UpdateUser" asp-controller="Account" id="EditUserForm">
				<div class="modal-body">
					<input type="hidden" id="edituserId" asp-for="UserId" />
					<input type="hidden" id="originalemail" asp-for="OriginalEmail" />
					<div>
						<label class="form-label" for="email">Email</label>
						<input type="text" id="editemail" class="form-control"
							   asp-for="Email" placeholder="Enter Email" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div>
						<label class="form-label" for="name">Name</label>
						<input type="text" id="editname" class="form-control"
							   asp-for="Name" placeholder="Enter name" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
					<div>
						<label class="form-label" for="password">Password</label>
						<input type="password" id="editpassword" class="form-control"
							   asp-for="Password" placeholder="Enter password" />
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>
					<div>
						<label class="form-label" for="confirmpassword">Confirm Password</label>
						<input type="password" id="editconfirmpassword" class="form-control"
							   asp-for="ConfirmPassword" placeholder="Confirm Password" />
						<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
					</div>
					<div>
						<label asp-for="SelectedRoles" class="control-label">Role</label>
						@foreach (var role in Model.Roles)
						{
							if (role != "Superadmin")
							{
								<div class="form-control">
									<input type="checkbox" id="@($"role_{role}")" name="selectedRoles" value="@role" />
									<label for="@($"role_{role}")">@role</label>
								</div>
							}
						}
						<span asp-validation-for="SelectedRoles" class="text-danger"></span>
					</div>

				</div>
				<div class="modal-footer">
					<button class="modal-button-close" id="Close" type="button" data-dismiss="modal">Close</button>
					<button class="modal-button" id="Update" type="submit">Update User</button>

				</div>
			</form>
		</div>
	</div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/User.js"></script> *@