@model ASI.Basecode.Services.ServiceModels.ReviewViewModel
@section styles {
    <link rel="stylesheet" href="~/css/bookdetail.css" />
}
<div class="modal" id="ReviewModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalTitle"></h4>
            </div>
            <form method="post" asp-action="AddReview" asp-controller="Review" id="ReviewForm" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" name="bookId" asp-for="BookId"/>
                    <input type="hidden" asp-for="Id" value="0" />
                    <div>
                        <label class="input-label" asp-for="Name">Name</label>
                        <input type="text" asp-for="Name" class="form-control" placeholder="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div>
                        <label class="input-label" asp-for="Email">Email Address</label>
                        <input type="email" asp-for="Email" class="form-control" placeholder="Email Address" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="rating-input">
                        <label class="input-label" asp-for="Rating"></label>
                        <input type="number" asp-for="Rating" class="form-control" placeholder="Rating" />
                        <span asp-validation-for="Rating" class="text-danger"></span>

                    </div>
                    <div class="rating-stars">
                        <label class="input-label" asp-for="Rating">Rating:</label>
                        <i class="star far fa-star" data-value="1"></i>
                        <i class="star far fa-star" data-value="2"></i>
                        <i class="star far fa-star" data-value="3"></i>
                        <i class="star far fa-star" data-value="4"></i>
                        <i class="star far fa-star" data-value="5"></i>
                        <span asp-validation-for="Rating" class="text-danger"></span>
                    </div>
                    <div>
                        <label class="input-label" asp-for="Content">Review Comment</label>
                        <input type="text" asp-for="Content" class="form-control" placeholder="Review..." />
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div> 
                </div>
                <div class="modal-footer">
                    <button class="modal-button-close" id="Close" type="button" data-dismiss="modal">Close</button>
                    <button class="modal-button" id="Save" type="submit">Post Review</button>

                </div>
            </form>

        </div>
    </div>
</div>
